{% extends 'base.html.twig' %}

{% block title %}modifier un article{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mb-5"> modifier article</h1>
        <div class="col-md-7">

            {{form(form)}}

        </div>

    </div>
    


{% endblock %}
